#accounttable td{
  width: 30vw;
}

#logcol{
  vertical-align: top;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  color: white;
  border:1px solid black;
}

button:hover {
  opacity: 0.8;
  background-color: white;
  color: black;
}

.container {
  padding: 16px;
}